<%- include("./partials/headers") -%>
<div class="container">
    <h2 class="compose-entries">Share Your Thoughts on a Book!</h2>
    <br>
    <form action="/compose" method="POST">
        <div style="display: none;">
            <input name="title" value="<%= title %>">
            <input name="authors" value="<%= authors %>">
            <input name="imageLink" value="<%= imageLink %>">
            <input name=""description value="<%= description %>">
            <input name="isbnType" value="<%= type %>">
            <input name="isbn" value="<%= identifier %>">
            <input name="category" value="<%= category %>">
        </div>

        <div class="row">
            <div class="col-md-3">
                <a href="#" class="searchResult-a">
                    <img class="card-img" src="<%= imageLink %>" alt=" img unavailable">
                </a>
            </div>
            <div class="col-md-9">
                <h4 class="sr-card-title"> <%= title %> </h4>
                <div><a class="author-compose" href="#">&nbsp;<span class="by">by</span>&nbsp;
                        <%= authors %> &nbsp;</a></div>
                <div class="sr-card-body">
                    <p class="card-text"><span class="sr-description">&nbsp; Description: </span> &nbsp;
                        <%= description %> </p>
                </div>
                <div class="sr-card-body">
                    <p class="card-text"><span class="sr-description">&nbsp; Category: </span> &nbsp;
                        <%= category %> <span> &nbsp;</span></p>
                </div>
                <div class="sr-isbn"><%= type %>: &nbsp; <%= identifier %> </div>
            </div>
        </div>

        <div>
            <label class="entries">&nbsp; Review Title &nbsp; </label>
        </div>
        <input type="text" name="reviewTitle" class="form-control" required>

        <label class="entries">&nbsp; Your Thoughts on the Book! &nbsp;</label>
        <textarea name="bookReview" rows="5" class="form-control" required></textarea>
<div class="publish">
    <button class="btn btn-primary" type="submit" name="theReview">Cancel</button>
    <button class="btn btn-primary" type="submit" name="theReview">Submit</button>
</div>
</form>
</div>
<%- include("./partials/footers") -%>