<%- include("./partials/headers") -%>

<main class="frame">

    <div class="container">

        <div class="row">
            <!-- This is the left col -->
            <div class="col-md-4-s">
                <article class="card mb-4">
                    <header class="card-header">
                        <a style="color: black; background-color: rgb(238, 206, 102); border: 2px rgb(238, 206, 102) solid; border-radius: 12px;" href="#">&nbsp; DUNE <span class="by">by</span> Frank Herbert &nbsp;</a>
                    </header>
                    <a href="post-image.html">
                        <img class="card-img"
                            src="https://cdn.substack.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2F70e181a5-bcfd-44dc-adee-e82f5359195d_4032x3024.jpeg"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="post-image.html">
                                <h4 class="card-title">It's everything you've heard it is and more.</h4>
                            </a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi... Read More </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article>
                <hr>

                <article class="card mb-4">
                    <header class="card-header">
                        <a style="color: white; background-color: green; border: 2px green solid; border-radius: 12px;" href="#">&nbsp; Shoe Dog <span class="by">by</span> Phil Knight &nbsp;</a>
                    </header>
                    <a href="post-image.html">
                        <img class="card-img"
                            src="https://media.gatesnotes.com/-/media/Images/Books/Shoe-Dog/shoe-dog_2016_800px.ashx"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="post-image.html">
                                <h4 class="card-title">Knight is the most interesting person I never knew I wanted to
                                    meet...</h4>
                            </a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                            imperdiet.
                            Duis sagittis ipsum. Praesent mauris... Read More </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article><!-- /.card -->
                <hr>

                <article class="card mb-4">
                    <header class="card-header">
                        <div>
                            <a style="color: white; background-color: orange; border: 2px orange solid; border-radius: 12px;" href="#">&nbsp; Principles <span class="by">by</span> Ray Dalio &nbsp;</a>
                        </div>
                    </header>
                    <a href="post-image.html">
                        <img class="card-img"
                            src="https://static01.nyt.com/images/2017/09/10/business/10BRIDGEWATER5/10BRIDGEWATER5-videoSixteenByNineJumbo1600.jpg"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div><a href="post-image.html">
                                <h4 class="card-title">Great book but create your own principles</h4>
                            </a></div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec
                            odio. Praesent libero.
                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                            Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta.
                            Mauris massa. Vestibulum lacinia arcu eget nulla... Read More </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article><!-- /.card -->
                <hr>
            </div>


            <!-- This is the middle col -->
            <div class="col-md-4-s">
                <article class="card mb-4">
                    <header class="card-header">
                        <a style="color: white; background-color: red; border: 2px red solid; border-radius: 12px;" href="#">&nbsp; The Hard Thing about Hard Things <span class="by">by</span>
                            Ben Horowitz &nbsp; </a>
                    </header>
                    <a href="post-image.html">
                        <img class="card-img" src="http://frogcapital.com/wp-content/uploads/IMG_8334-1024x924.jpg"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="post-image.html">
                                <h4 class="card-title">Solid advice for start-ups and other leaders</h4>
                            </a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            Praesent libero.
                            Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet.
                            Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta... Read More
                        </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article><!-- /.card -->
                <hr>

                <article class="card mb-4">
                    <header class="card-header">
                        <a style="color: black; background-color: pink; border: 2px pink solid; border-radius: 12px;" href="#">&nbsp; Atomic Habits <span class="by">by</span> James Clear &nbsp;</a>
                    </header>
                    <a href="/atomic-habits">
                        <img class="card-img"
                            src="https://www.tonal.com/wp-content/uploads/2021/03/Blog_BookClub_Atomic-Habits_1200x800.jpg?resize=1300%2C867"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="/atomic-habits">
                                <h4 class="card-title">Beware!! This Book can change your Life :)</h4>
                            </a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                            imperdiet.
                            Duis sagittis ipsum. Praesent mauris... Read More </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article><!-- /.card -->
                <hr>

                <article class="card mb-4">
                    <header class="card-header">
                        <a style="color: white; background-color: rgb(51, 213, 224); border: 2px rgb(51, 213, 224) solid; border-radius: 12px;" href="#">&nbsp; Greenlights <span class="by">by</span> Matthew
                            McConaughey &nbsp;</a>
                    </header>
                    <a href="post-image.html">
                        <img class="card-img" src="https://images-na.ssl-images-amazon.com/images/I/61-Pt+1b+xL.jpg"
                            alt="" />
                    </a>
                    <div class="card-body">
                        <div>
                            <a href="post-image.html">
                                <h4 class="card-title">Man what a ride! </h4>
                            </a>
                        </div>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio.
                            Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum
                            imperdiet.
                            Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris
                            massa... Read More
                        </p>
                        <div class="card-meta">
                            <p> <%= todayEjs %> </p>
                        </div>
                    </div>
                </article><!-- /.card -->
                <hr>
            </div>


            <!-- This is the right col -->
            <div class="col-md-4-lite">
                <header class="card-header">
                    <h4 class="card mb-4">Popular Categories </h4>
                </header>
                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/biography.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Biography</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/business.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Business</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/fictions.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Fictions</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/history.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">History</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/non-fiction.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Non-Fiction</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/science.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Science</a>
                    </div>
                </div>

                <div class="text-center mb-3 card-bg-scale position-relative overflow-hidden rounded"
                    style="background-image:url(/img/topics/self-help.jpg); background-position: center left; background-size: cover;">
                    <div class="tag-font p-3">
                        <a href="#" class="stretched-link fw-bold text-white h5">Self-Help</a>
                    </div>
                </div>

                <div class="load-more">
                    <p><a href="#" style="color: rgb(46, 1, 207);">Load All Categories</a></p>
                </div>
                <hr>

                <hr>

            </div>
        </div>
    </div>

</main>

<!-- <div class="site-newsletter">
    <div class="container">
        <div class="text-center">
            <h3 class="h4 mb-2">Subscribe to Our Mailing List</h3>
            <p class="text-muted">Join our mailing list to keep up with the popular book reviews! We don't spam your
                email :)</p>

            <div class="row">
                <div class="col-xs-12 col-sm-9 col-md-7 col-lg-5 ms-auto me-auto">
                    <div class="input-group mb-3 mt-3">
                        <input type="text" class="form-control" placeholder="Email address" aria-label="Email address">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" type="button">Subscribe</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="moreArticles">
    <input type="button" class="load-more-bottom" value="&nbsp; Load More &nbsp;">
</div>

<%- include("partials/footers") -%>